
.docs-base {
    position: inherit;
    width: 100%;
}

.docs-base .docs-menu-lateral {
    position: fixed;
    background-color: rgb(237, 240, 245);
    width: 20%;
    height: 100%;
    padding-top: 5px;
}

.docs-base .docs-menu-lateral .docs-menu-lateral-item {
    font-family: sans-serif;
    display: inline-block;
    width: 98%;
    background-color: rgb(68, 93, 133);
    padding: 8px 5px 8px 8px;
    border-bottom: 1px solid rgb(102, 127, 168);
    border-right: 1px solid rgb(102, 127, 168);
    color: white;
    border-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
}

.docs-base .docs-menu-lateral .docs-menu-lateral-item:hover {
    background-color: rgb(106, 135, 180);
}

.docs-base .docs-menu-lateral .docs-menu-lateral-item:active {
    background-color: rgb(25, 40, 66);
    color: rgb(86, 116, 163);
}

.docs-base .docs-container {
    margin-left: 20%;
    width: 77%;
    display: inline-block;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.docs-base .docs-container .docs-container-titulo {
    display: inline-block;
    width: 100%;
    color: black;
}

.docs-base .docs-container .docs-menu-lateral-itens {
    width: 100%;
}