# Binaries for programs and plugins
XpressAPI
*.exe
*.exe~
*.dll
*.so
*.dylib
configs/**/*
admin/node_modules/*
admin/node_modules/**/*
admin/node_modules

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
configs/smtp.json
